* Colab 연결.
* Google Drive 마운트(연결).
* csv_exam.csv 파일을 Google Drive의 lab_python 폴더에 업로드.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive


1. csv_exam.csv 파일을 읽기 모드로 오픈
1. 파일의 첫번째 줄은 (컬럼 이름이기 때문에) 읽고 아무 동작 없이 건너뜀.
1. 파일의 두번째 줄부터 마지막 줄까지 반복:
    * 각 줄에서 읽은 내용을 쉼표(,)로 구분한 리스트들을 저장하는 리스트를 만듦.
    ```
    [['1', '1', '50', '98' , '50'], ['2', '1', '60', '97', '60'], ...]
    ```
1. 2차원 리스트의 모든 값들을 숫자로 변환.
    ```
    [[1, 1, 50, 98 , 50], [2, 1, 60, 97, 60], ...]
    ```
1. 2차원 리스트에서 수학 점수들로만 이루어진 1차원 리스트를 만듦.
    ```
    [50, 60, 45, ...]
    ```
1. 수학 점수의 평균, 최댓값, 최솟값을 찾음.
1. 1반 학생들의 수학 점수의 총점, 평균, 최댓값, 최솟값 찾음.

In [ ]:
import os

In [ ]:
dir_path = '/content/drive/MyDrive/Colab Notebooks/lab-python'
file_name = 'csv_exam.csv'

In [ ]:
file_path = os.path.join(dir_path, file_name)
file_path

'/content/drive/MyDrive/Colab Notebooks/lab-python/csv_exam.csv'

In [ ]:
with open(file_path, mode='r') as f:   # 읽기 모드로 csv 파일 열기(자동으로 close)
    f.readline()   # 첫줄 읽기(컬럼 이름)

    # score_list_str = []
    # for line in f:  # 파일 끝까지 readline() 자동으로 한 줄씩 실행(파일 첫 줄은 위에서 읽었으니 제외?)
    #     row = line.rstrip().split(',')   # 오른쪽 공백(\n) 지우고, 콤마(,)를 기준으로 구분해 리스트 만듦
    #     score_list_str.append(row)  # 이 1차원 리스트들을 score_list에 순서대로 추가

    score_list_str = [line.rstrip().split(sep=',') for line in f]   # list comprehension

score_list_str   # 확인(2차원 리스트 만들어짐)

[['1', '1', '50', '98', '50'],
 ['2', '1', '60', '97', '60'],
 ['3', '1', '45', '86', '78'],
 ['4', '1', '30', '98', '58'],
 ['5', '2', '25', '80', '65'],
 ['6', '2', '50', '89', '98'],
 ['7', '2', '80', '90', '45'],
 ['8', '2', '90', '78', '25'],
 ['9', '3', '20', '98', '15'],
 ['10', '3', '50', '98', '45'],
 ['11', '3', '65', '65', '65'],
 ['12', '3', '45', '85', '32'],
 ['13', '4', '46', '98', '65'],
 ['14', '4', '48', '87', '12'],
 ['15', '4', '75', '56', '78'],
 ['16', '4', '58', '98', '65'],
 ['17', '5', '65', '68', '98'],
 ['18', '5', '80', '78', '90'],
 ['19', '5', '89', '68', '87'],
 ['20', '5', '78', '83', '58']]

In [ ]:
# 1차원 리스트 원소들을 정수로 바꿔서 리스트로 리턴해 주는 mapper 메서드

# def mapper_to_int(iterable):   
#     result = []
#     for x in iterable:
#         result.append(int(x))
#     return result

In [ ]:
# mapper 메서드 사용해 각 행(1차원 리스트) 원소들을 정수로 변환해준 후, 
# 행 단위로 2차원 리스트에 추가

# score_list =[]
# for row in score_list_str:
#     score_list.append(mapper_to_int(row))     
# score_list

In [ ]:
# 2차원 리스트 내의 1차원 리스트의 원소들을 하나씩 정수로 변환해 리스트에 저장, 
# 그 리스트들을 새 2차원 리스트로 리턴해 주는 mapper 메서드

def mapper_to_int(iterable):
    result = []
    for row in iterable:
        row_new = []
        for x in row:
            row_new.append(int(x))
        result.append(row_new)
    return result

In [ ]:
score_list = mapper_to_int(score_list_str)   # 문자열로 이루어졌던 기존 2차원 리스트에 mapper 메서드 적용
score_list

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [ ]:
score_list = []
for row in score_list_str:
    row_new = [int(x) for x in row]    # list comprehension
    score_list.append(row_new)

score_list

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [ ]:
score_list = [[int(x) for x in row] 
              for row in score_list_str]   # 더 짧은 list comprehension
score_list

[[1, 1, 50, 98, 50],
 [2, 1, 60, 97, 60],
 [3, 1, 45, 86, 78],
 [4, 1, 30, 98, 58],
 [5, 2, 25, 80, 65],
 [6, 2, 50, 89, 98],
 [7, 2, 80, 90, 45],
 [8, 2, 90, 78, 25],
 [9, 3, 20, 98, 15],
 [10, 3, 50, 98, 45],
 [11, 3, 65, 65, 65],
 [12, 3, 45, 85, 32],
 [13, 4, 46, 98, 65],
 [14, 4, 48, 87, 12],
 [15, 4, 75, 56, 78],
 [16, 4, 58, 98, 65],
 [17, 5, 65, 68, 98],
 [18, 5, 80, 78, 90],
 [19, 5, 89, 68, 87],
 [20, 5, 78, 83, 58]]

In [ ]:
test = ['1', '2']
for i, x in enumerate(test):
    test[i] = int(x)
test

[1, 2]

In [ ]:
# math_scores=[]
# for row in score_list:
#     math = row[2]
#     math_scores.append(math)

# 2차원 리스트의 각 행에서 인덱스 2에 있는 원소(세 번째 원소)들만 골라내어 새 리스트로 만들기
math_scores = [row[2] for row in score_list]   # 수학 점수들만

print(math_scores)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [ ]:
def get_total_and_avg(iterable):    # 리스트를 넘겨 주어 합과 평균값을 리턴하는 함수
    total = 0
    for x in iterable:
        total += x
        avg = total / len(iterable)
    return total,avg

In [ ]:
get_total_and_avg(math_scores)[1]   # 수학 점수들의 평균
# 합과 평균을 리턴하는 함수를 호출해, 인덱스1(평균)만 출력하기

57.45

In [ ]:
def find_max_and_min(iterable):
    max = iterable[0]
    min = iterable[0]
    for x in iterable:
        if x > max:    # 리스트의 원소들을 하나하나씩 비교해서 더 큰 값을 max에 저장
            max = x
        if x < min:    # 리스트의 원소들을 하나하나씩 비교해서 더 작은 값을 min에 저장
            min = x
    return max,min

In [ ]:
find_max_and_min(math_scores)   # 수학 점수들의 최대값, 최소값 구하기

(90, 20)

In [ ]:
# 반 번호가 1번인 학생들의 수학점수만 골라 새 리스트로 만들기
# math_class1 = []
# for row in score_list:
#     if row[1] == 1:
#         math_class1.append(row[2])
# print(math_class1)

math_scores_class1 = [row[2] for row in score_list if row[1] == 1]    # list comprehension
print(math_scores_class1)

[50, 60, 45, 30]
[50, 60, 45, 30]

In [ ]:
# math_scores_class1 = math_scores[:4]   # 수학 점수 리스트에서 첫 4개 원소만 slicing하기(첫 4개만 1반 점수이기 때문)
# math_scores_class1

[50, 60, 45, 30]

In [ ]:
result1 = get_total_and_avg(math_scores_class1)
result2 = find_max_and_min(math_scores_class1)
print(f'1반 학생들의 수학점수의:\n총점 = {result1[0]}\n평균 = {result1[1]}')
print(f'최대값 = {result2[0]}\n최소값 = {result2[1]}')

1반 학생들의 수학점수의:
총점 = 185
평균 = 46.25
최대값 = 60
최소값 = 30