
* GitHub에 저장된 [gapminder.tsv](https://github.com/JakeOh/202208_itw_java134_lab_python/raw/main/gapminder.tsv) 파일을 읽고 DataFrame을 생성
* 데이터 프레임 탐색
* (중복되지 않는) 국가 이름의 개수?
* (중복되지 않는) 대륙 이름?
* (중복되지 않는) 연도의 개수?
* 국가이름, 연도, 1인당 GDP 컬럼을 선택
* 1인당 GDP의 최댓값, 최솟값을 찾고, 그 row를 출력
* 기대수명(lifeExp)의 최솟값과 최댓값을 찾고, 그 행들을 출력
* 연도별 기대수명의 평균을 출력
* 연도별 1인당 GDP의 평균을 출력
* 연도별 대륙별 전세계 인구를 출력

In [2]:
import pandas as pd
import numpy as np

In [3]:
file_path = 'https://github.com/JakeOh/202208_itw_java134_lab_python/raw/main/gapminder.tsv'

In [4]:
# GitHub에 저장된 gapminder.tsv 파일을 읽고 DataFrame을 생성
gapminder = pd.read_csv(file_path, sep='\t')   # 구분자: 탭(\t)
# CSV(Comma-Seperated Values), TSV(Tab-Seperated Values)

In [5]:
# 데이터 프레임 탐색(??)
print('row, coulum : ', gapminder.shape)
print('행 레이블:', gapminder.index)
print('컬럼 레이블(이름):', gapminder.columns, '\n')
print(gapminder.describe())   # 숫자 타입 컬럼들의 기술 통계량

row, coulum :  (1704, 6)
행 레이블: RangeIndex(start=0, stop=1704, step=1)
컬럼 레이블(이름): Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

파일의 크기가 클 경우 대비, 맨앞 몇개와 맨뒤 몇개 데이터 출력해서 확인해 보기

In [6]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
gapminder.iloc[:5]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [8]:
gapminder.iloc[-5:]

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [9]:
gapminder.info()   # 데이터프레임 정보: row/column index, non-null, dtype, ...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [10]:
gapminder['country'].value_counts()   # 카테고리 타입의 기술 통계량 - 빈도수

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [11]:
gapminder.continent.value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [12]:
# (중복되지 않는) 국가 이름의 개수?
count = 0
for c in gapminder.country.unique():
    count += 1
print(count)

142

In [13]:
# (중복되지 않는) 대륙 이름?
for c in gapminder.continent.unique():
    print(c)

Asia
Europe
Africa
Americas
Oceania

In [14]:
# (중복되지 않는) 연도의 개수?
years = gapminder['year'].unique()
print(len(years))

12

In [15]:
# 국가이름, 연도, 1인당 GDP 컬럼을 선택
gapminder[['country', 'year', 'gdpPercap']]

          country  year   gdpPercap
0     Afghanistan  1952  779.445314
1     Afghanistan  1957  820.853030
2     Afghanistan  1962  853.100710
3     Afghanistan  1967  836.197138
4     Afghanistan  1972  739.981106
...           ...   ...         ...
1699     Zimbabwe  1987  706.157306
1700     Zimbabwe  1992  693.420786
1701     Zimbabwe  1997  792.449960
1702     Zimbabwe  2002  672.038623
1703     Zimbabwe  2007  469.709298

[1704 rows x 3 columns]

In [16]:
# 1인당 GDP의 최댓값, 최솟값을 찾고, 그 row를 출력
# 1인당 GDP 최대값
gapminder[gapminder['gdpPercap'] == gapminder['gdpPercap'].max()]

    country continent  year  lifeExp     pop    gdpPercap
853  Kuwait      Asia  1957   58.033  212846  113523.1329

In [17]:
gapminder['gdpPercap'].argmax()

853

In [18]:
gapminder.iloc[[gapminder.gdpPercap.argmax()]]

    country continent  year  lifeExp     pop    gdpPercap
853  Kuwait      Asia  1957   58.033  212846  113523.1329

In [19]:
# 1인당 GDP 최소값
gapminder[gapminder['gdpPercap'] == gapminder['gdpPercap'].min()]

              country continent  year  lifeExp       pop   gdpPercap
334  Congo, Dem. Rep.    Africa  2002   44.966  55379852  241.165876

In [20]:
gapminder.gdpPercap.argmin()

334

In [21]:
gapminder.iloc[[gapminder.gdpPercap.argmin()]]

              country continent  year  lifeExp       pop   gdpPercap
334  Congo, Dem. Rep.    Africa  2002   44.966  55379852  241.165876

In [22]:
# 기대수명(lifeExp)의 최솟값과 최댓값을 찾고, 그 행들을 출력
# 기대수명 최소값
gapminder[gapminder.lifeExp == gapminder['lifeExp'].min()]

     country continent  year  lifeExp      pop   gdpPercap
1292  Rwanda    Africa  1992   23.599  7290203  737.068595

In [23]:
# 기대수명 최대값
gapminder[gapminder.lifeExp == gapminder['lifeExp'].max()]

    country continent  year  lifeExp        pop    gdpPercap
803   Japan      Asia  2007   82.603  127467972  31656.06806

In [24]:
gapminder[(gapminder.lifeExp == gapminder.lifeExp.min()) | (gapminder.lifeExp == gapminder.lifeExp.max())]

     country continent  year  lifeExp        pop     gdpPercap
803    Japan      Asia  2007   82.603  127467972  31656.068060
1292  Rwanda    Africa  1992   23.599    7290203    737.068595

In [33]:
# 일본의 역대 기대수명
gapminder[gapminder.country == 'Japan'][['country', 'year', 'lifeExp']]

    country  year  lifeExp
792   Japan  1952   63.030
793   Japan  1957   65.500
794   Japan  1962   68.730
795   Japan  1967   71.430
796   Japan  1972   73.420
797   Japan  1977   75.380
798   Japan  1982   77.110
799   Japan  1987   78.670
800   Japan  1992   79.360
801   Japan  1997   80.690
802   Japan  2002   82.000
803   Japan  2007   82.603

In [34]:
# 르완다의 역대 기대수명
gapminder[gapminder.country == 'Rwanda'][['country', 'year', 'lifeExp']]

     country  year  lifeExp
1284  Rwanda  1952   40.000
1285  Rwanda  1957   41.500
1286  Rwanda  1962   43.000
1287  Rwanda  1967   44.100
1288  Rwanda  1972   44.600
1289  Rwanda  1977   45.000
1290  Rwanda  1982   46.218
1291  Rwanda  1987   44.020
1292  Rwanda  1992   23.599
1293  Rwanda  1997   36.087
1294  Rwanda  2002   43.413
1295  Rwanda  2007   46.242

In [25]:
# 연도별 기대수명의 평균을 출력
for y in gapminder.year.unique():
    # print(y)
    print(y, '기대수명 평균: ', gapminder[gapminder.year == y]['lifeExp'].mean(), '세')

1952 기대수명 평균:  49.057619718309866 세
1957 기대수명 평균:  51.50740112676056 세
1962 기대수명 평균:  53.609249014084504 세
1967 기대수명 평균:  55.678289577464795 세
1972 기대수명 평균:  57.64738647887324 세
1977 기대수명 평균:  59.57015746478874 세
1982 기대수명 평균:  61.53319718309859 세
1987 기대수명 평균:  63.21261267605633 세
1992 기대수명 평균:  64.16033802816901 세
1997 기대수명 평균:  65.01467605633802 세
2002 기대수명 평균:  65.69492253521126 세
2007 기대수명 평균:  67.00742253521126 세

In [26]:
gapminder.groupby('year').lifeExp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [27]:
# 연도별 1인당 GDP의 평균을 출력
for y in gapminder.year.unique():
    print(y, '1인당 GDP 평균: ', gapminder[gapminder.year == y].gdpPercap.mean())

1952 1인당 GDP 평균:  3725.276045801408
1957 1인당 GDP 평균:  4299.408344876057
1962 1인당 GDP 평균:  4725.812341961972
1967 1인당 GDP 평균:  5483.653046835212
1972 1인당 GDP 평균:  6770.082815282394
1977 1인당 GDP 평균:  7313.166420794366
1982 1인당 GDP 평균:  7518.901672698592
1987 1인당 GDP 평균:  7900.920217940845
1992 1인당 GDP 평균:  8158.608520688734
1997 1인당 GDP 평균:  9090.175363102111
2002 1인당 GDP 평균:  9917.848364685915
2007 1인당 GDP 평균:  11680.071819878167

In [28]:
gapminder.groupby('year').gdpPercap.mean()

year
1952     3725.276046
1957     4299.408345
1962     4725.812342
1967     5483.653047
1972     6770.082815
1977     7313.166421
1982     7518.901673
1987     7900.920218
1992     8158.608521
1997     9090.175363
2002     9917.848365
2007    11680.071820
Name: gdpPercap, dtype: float64

In [35]:
# 연도별 대륙별 전세계 인구를 출력
gapminder.groupby(['year', 'continent'])['pop'].sum()

year  continent
1952  Africa        237640501
      Americas      345152446
      Asia         1395357351
      Europe        418120846
      Oceania        10686006
1957  Africa        264837738
      Americas      386953916
      Asia         1562780599
      Europe        437890351
      Oceania        11941976
1962  Africa        296516865
      Americas      433270254
      Asia         1696357182
      Europe        460355155
      Oceania        13283518
1967  Africa        335289489
      Americas      480746623
      Asia         1905662900
      Europe        481178958
      Oceania        14600414
1972  Africa        379879541
      Americas      529384210
      Asia         2150972248
      Europe        500635059
      Oceania        16106100
1977  Africa        433061021
      Americas      578067699
      Asia         2384513556
      Europe        517164531
      Oceania        17239000
1982  Africa        499348587
      Americas      630290920
      Asia         2610135582
      Europe        531266901
      Oceania        18394850
1987  Africa        574834110
      Americas      682753971
      Asia         2871220762
      Europe        543094160
      Oceania        19574415
1992  Africa        659081517
      Americas      739274104
      Asia         3133292191
      Europe        558142797
      Oceania        20919651
1997  Africa        743832984
      Americas      796900410
      Asia         3383285500
      Europe        568944148
      Oceania        22241430
2002  Africa        833723916
      Americas      849772762
      Asia         3601802203
      Europe        578223869
      Oceania        23454829
2007  Africa        929539692
      Americas      898871184
      Asia         3811953827
      Europe        586098529
      Oceania        24549947
Name: pop, dtype: int64

In [30]:
for y in gapminder.year.unique():
    print(y)
    for c in gapminder.continent.unique():
        print(c, gapminder[(gapminder.year == y) & (gapminder.continent == c)]['pop'].sum())
        gapminder[(gapminder.year == y) & (gapminder.continent == c)]['pop']
    print('\n')

1952
Asia 1395357351
Europe 418120846
Africa 237640501
Americas 345152446
Oceania 10686006


1957
Asia 1562780599
Europe 437890351
Africa 264837738
Americas 386953916
Oceania 11941976


1962
Asia 1696357182
Europe 460355155
Africa 296516865
Americas 433270254
Oceania 13283518


1967
Asia 1905662900
Europe 481178958
Africa 335289489
Americas 480746623
Oceania 14600414


1972
Asia 2150972248
Europe 500635059
Africa 379879541
Americas 529384210
Oceania 16106100


1977
Asia 2384513556
Europe 517164531
Africa 433061021
Americas 578067699
Oceania 17239000


1982
Asia 2610135582
Europe 531266901
Africa 499348587
Americas 630290920
Oceania 18394850


1987
Asia 2871220762
Europe 543094160
Africa 574834110
Americas 682753971
Oceania 19574415


1992
Asia 3133292191
Europe 558142797
Africa 659081517
Americas 739274104
Oceania 20919651


1997
Asia 3383285500
Europe 568944148
Africa 743832984
Americas 796900410
Oceania 22241430


2002
Asia 3601802203
Europe 578223869
Africa 833723916
Americas 849772762
Oceania 23454829


2007
Asia 3811953827
Europe 586098529
Africa 929539692
Americas 898871184
Oceania 24549947